---
import FormattedDate from '../components/FormattedDate.astro';
import Tags from '../components/Tags.astro';
import 'highlight.js/styles/github-dark.css';
import type { Blog } from '../library/microcms';
import BlogLayout from './BlogLayout.astro';

type Props = Blog;

const { title, publishedAt, updatedAt, heroImage, tags } = Astro.props;
const date = publishedAt ?? updatedAt;
---

<BlogLayout pageTitle={title} heroImage={heroImage}>
  <div slot="meta" class="title">
    <div class="date">
      投稿日：<FormattedDate date={date} />
    </div>
    <h1>{title}</h1>
    <Tags tags={tags} />
    <hr />
  </div>
  <div class="blog-content">
    <slot />
  </div>
</BlogLayout>
